[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
*.cache
backend/bin/Debug/net5.0/backend.dll
backend/bin/Debug/net5.0/backend.exe
backend/bin/Debug/net5.0/backend.pdb
backend/bin/Debug/net5.0/ref/backend.dll
backend/obj/backend.csproj.nuget.dgspec.json
backend/obj/Debug/net5.0/apphost.exe
backend/obj/Debug/net5.0/backend.csproj.AssemblyReference.cache
backend/obj/Debug/net5.0/Backend.assets.cache
backend/obj/Debug/net5.0/backend.csproj.CoreCompileInputs.cache
backend/obj/Debug/net5.0/backend.csproj.FileListAbsolute.txt
backend/obj/Debug/net5.0/backend.dll
backend/obj/Debug/net5.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
backend/obj/Debug/net5.0/backend.genruntimeconfig.cache
backend/obj/Debug/net5.0/backend.pdb
backend/obj/Debug/net5.0/ref/backend.dll
backend/obj/project.assets.json
backend/obj/project.nuget.cache
