
backend/bin/Debug/net5.0/backend.exe
*.dll
*.cache
*.pdb
*.cache
*.cache
backend/bin/Debug/net5.0/backend.runtimeconfig.dev.json
backend/obj/backend.csproj.nuget.dgspec.json
backend/obj/backend.csproj.nuget.g.props
backend/obj/Debug/net5.0/apphost.exe
backend/obj/Debug/net5.0/Backend.assets.cache
*.cache
backend/obj/Debug/net5.0/backend.csproj.AssemblyReference.cache
*.CopyComplete
backend/obj/Debug/net5.0/backend.csproj.FileListAbsolute.txt
backend/obj/Debug/net5.0/backend.csproj.AssemblyReference.cache
backend/bin/Debug/net5.0/backend.exe
backend/bin/Debug/net5.0/backend.dll
backend/bin/Debug/net5.0/ref/backend.dll
backend/bin/Debug/net5.0/backend.runtimeconfig.dev.json
backend/bin/Debug/net5.0/backend.pdb
backend/bin/Debug/net5.0/backend.exe
backend/bin/Debug/net5.0/backend.dll
backend/obj/Debug/net5.0/project.razor.json
