@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap");

// $primary: #11998e;
// $secondary: #38ef7d;
// $white: #fff;
// $gray: #9b9b9b;

/*
 *  General Form Classes
 */
section {
  font-family: "IBM Plex Mono", monospace;
}

.form-outer {
  padding: 3.1% 6.2%;
  width: 30%;
  min-width: 380px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 18px;
}

.form-heading {
  text-align: center;
  color: white;
  margin: 0 0 0.2em 0;
  font-size: 2em;
}

.form-subheading {
  text-align: center;
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 1.1em;
}

.input-container {
  margin: 0 0 0.8em 0;
}

label {
  display:inline-block;
  margin-bottom: 0.175em;
}

.input {
  box-sizing: border-box;
  width: 100%;
  min-height: 56px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  letter-spacing: 0.07em;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.input:focus {
  background-color: #63a1ff0a;
  border: 1px solid #63a1ff;
  outline: none;
  box-shadow: 0 0 4px #63a1ff;
}

.form-error {
  margin: 0;
  color: #de1a0e;
  font-style: italic;
  font-family: "IBM Plex Sans", sans-serif;
}

.input-error {
  border: solid 1px red !important;
  background-color: rgba(255, 0, 0, 0.05) !important;
}

.input-error:focus, .input-error:focus-within {
  box-shadow: 0 0 4px red !important;
  background-color: rgba(255, 0, 0, 0.09) !important
}

.form-button {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 0.1em;
  width: 100%;
  border: none;
  outline: none;
  padding: 13px;
  margin-top: 1.5em;
  border-radius: 30px;
  cursor: pointer;
  min-height: 56px;
  font-weight: bold;
  transition: all 0.3s;
}

.form-redirect {
  margin-top: 2em;
}

.form-divider {
  border: 0;
  border-top: 1px solid #9b9b9b83;
}

.form-text {
  text-align: center;
  color: rgb(155, 155, 155);
  margin: 1em 0 0.3em 0;
}

.form-link {
  text-decoration: none;
  color: rgb(5, 84, 255);
  display: block;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}


/* 
 *  Page Specific Button Classes
 */
.login-button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 206, 51);
}

.login-button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.signup-button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 120, 218);
}

.signup-button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

/*  
 *  FormPasswordInput Classes
 */
.grid-two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.password-forgot {
  float: right;
  color: rgb(17, 123, 245);
  margin: 0;
  text-align: right;
}

.password-input-container {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.password-input-container:focus-within {
  background-color: #63a1ff0a;
  border: 1px solid #63a1ff;
  outline: none;
  box-shadow: 0 0 4px #63a1ff;
}

.input-password {
  letter-spacing: 0.125em;
  font-size: 1.5em;
  border: none;
}

.input-nofocus {
  box-sizing: border-box;
  width: 100%;
  min-height: 52px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  outline: none;
}

.input-nofocus:focus {
  outline: none;
}

.regular-input{
  font-size: 1.2em;
  letter-spacing: 0.07em;
}

.btn-show-password {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  width: auto;
  padding: 0.8em;
  background: rgba(204, 204, 204, 0.05);
  transition: all 0.25s;
}

.btn-show-password:hover {
  background: rgba(204, 204, 204, 0.08);
}