@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

// $primary: #11998e;
// $secondary: #38ef7d;
// $white: #fff;
// $gray: #9b9b9b;

section{
  font-family: 'IBM Plex Mono', monospace;
}

.form-outer {
  padding: 60px;
  width: 45%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 18px;
}

.form {
  margin: auto;
  width: 80%;
}

.form-heading {
  text-align: center;
  color: white;
  margin: 0 0 0.2em 0;
  font-size: 2em;
}

.form-subheading {
  text-align: center;
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 1.1em;
  
}

.input {
  box-sizing: border-box;
  width: 100%;
  min-height: 56px;
  margin-top: 0.1em;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.input:focus {
  background-color: #63a1ff0a;
  border: 2px solid #63a1ff;
  outline: none;
}

.form-button {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.1em;
  width: 100%;
  border: none;
  outline: none;
  padding: 13px;
  margin-top: 1.5em;
  border-radius: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  min-height: 56px;
  font-weight: bold;
  transition: all 0.3s;
}

.form-button:hover {
  color: white;
  background-color: rgb(46, 46, 46);
  border: 2px solid white;
}

.login-button{
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgb(255, 255, 255);
}

// TODO
// cool button hover animation
.login-button:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
}

.form-text {
  text-align: center;
  color: rgb(155, 155, 155);
  margin-bottom: 0.3em;
}

.form-link {
  text-decoration: none;
  color: rgb(5, 84, 255);
  display: block;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.form-forgot {
  float: right;
  color: rgb(17, 123, 245);
  margin: 0 0 1em 0;
  text-align: right;
}

.form-error {
  margin: 0;
  color: #de1a0e;
  font-style: italic;
  font-family: 'IBM Plex Sans', sans-serif;
}

.input-container{
  margin: 0 0 0.8em 0;
}

.grid-two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-password {
  letter-spacing: 0.125em;
  font-size: 1.4em;
}

.input-error {
  border: solid 2px red;
  background-color: rgba(255, 0, 0, 0.05);
}
