html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

section.home {
  background-color: rgb(33, 33, 33);
  height: 900px;
  color: white;
}
h1.home-title {
  margin-top: 0px;
}

section{
  padding: 20px 10% 20px 10%;
}