html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: rgb(33, 33, 33);
}

section{
  padding: 20px 10% 20px 10%;
  // background-color: rgb(33, 33, 33);
  // height: 600px;
  color: white;
}

h1.home-title {
  margin-top: 0px;
}