:root {
  --light: #f5e3e0;
  --light-rgb: 245, 227, 224;
  --main-lighter: #e8b4bc;
  --main: #d282a6;
  --main-darker: #6e4555;
  --dark: #3a3238;
  --background: #272226;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: var(--background);
  color: white;
  font-family: sans-serif;
}

section {
  padding: 1% 10%;
}

h1.home-title {
  margin-top: 0px;
}
