@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

nav {
  width: 100%;
  background-color: rgb(33,33,33);
  position:relative;
  display:inline-block;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
}

.nav-content{
  padding: 20px 10% 20px 10%;
}

.navbar-title{
  color:white;
  text-decoration: none;
  font-size: 40px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
}

.nav-right{
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.nav-item{
  font-family: 'Staatliches';
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 18px;
  letter-spacing: 0.1em;
  padding: 10px 20px;
  transition: ease 0.4s;
  border-radius: 2px;
}

.nav-name{
  color: white;
  font-family:'Times New Roman', Times, serif
}

.white-svg{
  stroke: white;
  height: 14px;
  width: auto;
}

.login{
  cursor: pointer;
  // background-color: black;
  border: 3px solid white;
  color: white;
  transition: all 0.5s;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
}

.login:hover{
  transform: scale(1.1);
}

.signup{
  cursor: pointer;
  background-color: white;
  border: 3px solid white;
  color: black;
  transition: all 0.5s;
  border-radius: 10px;
}

.signup:hover{
  transform: scale(1.1);
}

.logout-button{
  background-color: rgba(218, 64, 151, 0);
  color: white;
  border: 1.5px solid white;
}

.logout-button:hover{
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(14, 152, 243);
  cursor: pointer;
}