@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
nav {
  width: 100%;
  background-color: rgb(33,33,33);
  height: 80px;
  position:relative;
}

ul{
  list-style-type: 0;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
}
.navbar-title{
  margin-top: 0;
  color:white;
  text-decoration: none;
  font-size: 40px;
}
.b0,.b1 {
  font-family: 'Staatliches';
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  display: block;
  width: 60px;
  height: 20px;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 18px;
  letter-spacing: 0.1em;
  padding: 10px 20px;
  transition: ease 0.4s;
  border-radius: 2px;

}
.b0{
  background-color: rgb(218, 64, 151);
}
.b1{
  background-color: rgb(36, 212, 207);
}
.b0:hover{
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(36, 212, 207);
  cursor: pointer;
}
.b1:hover{
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(218, 64, 151);
  cursor: pointer;
}